body {
  background: #72a6ce;
}

a {
  color: #bd5d2a;
  text-decoration: none;
}

a:hover {
  color: #a34410;
  background: #64a9dd;
}

h1 {
  font-family: serif;
}

h2 {
  font-family: sans-serif;
}

h3 {
  font-family: monospace;
}

.indent {
  margin-left: 10px;
}

.gap_below {
  margin-bottom: 25px;
}

.thin_border {
  border: 2px solid black;
}

.relleno {
  background: #bb1348;
}

.relleno2 {
  background: #101C28;
}

.texto1 {
  color: #E8F1F8;
}

.callout {
  position: fixed;
  bottom: 35px;
  right: 20px;
  margin-left: 20px;
  max-width: 300px;
}

.callout-header {
  padding: 25px 15px;
  background: #555;
  font-size: 30px;
  color: white;
}

.callout-container {
  padding: 15px;
  background-color: #ccc;
  color: black
}

.closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.closebtn:hover {
  color: lightgrey;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

@media (min-width:750px) {
  .responsive{
    display: inline-block;
    width: 200px;
    border: 1px solid black;
  }
}

@media (min-width:1000px) {
  .responsive{
    display: inline-block;
    width: 500px;
    border: 1px solid black;
  }
}
